body{
  width: 100%;
  background-color: rgb(180, 255, 164);
}
.App {
  color: black;
  text-align: center;
}
.app_form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 95%;
  border-radius: 30px;
  margin: 20px;
  background-color: rgb(255, 203, 203);
}
.app_formctrl{
  display: flex !important;
  flex-direction: row !important;
}
.app_input{
  flex: 1 !important;
  margin-right: 10px !important;
}
.app_button{
  flex: 0 !important;
}
